<p>Cher {{ contact_name }} et le reste de {{ group.group_name }},</p>

<p>Nous sommes très heureux de t'inviter à notre mariage !</p>

<p>Tu peux te</p>

<p>
    <img src="cid:{{ qr_cid }}" alt="RSVP QR Code" width="150" height="150" style="display: block; margin: 20px 0;">
</p>

<p>
    Link: <a href="https://yourweddingdomain.com/rsvp/{{ group.invitation_code }}">{{ group.get_formatted_code }}</a>
</p>

<p>Nous avons de vous retrouver !</p>

<p>Affectueusement, <br>Marine & Pierre-Antoine</p>
